---
import Section from "@/components/Section.astro";
import {education} from '@cv';
---

<Section title="Education">
    <ul class="flex gap-2 items-center">
        {education.map(({ institution, area, startDate, endDate, courses, educationDetail }) =>
        { return (
            <li class="flex gap-2 items-center mb-4">
                <article>
                    <header class="flex gap-2  justify-between place-items-end">
                        <div>    
            <h3 class="text-xl font-semibold ">{institution}</h3>
            <h4 class="text-zinc-700 hover:text-zinc-900 text-wrap font-medium text-[1.2rem] leading-6">{area}</h4>
                        </div>    
                        <span class="text-zinc-700 text-wrap text-[0.9rem] leading-6 border rounded-md bg-zinc-100 border-zinc-700 px-1 hover:scale-105 transition-all delay-100" >{startDate} - {endDate}</span>
                    </header>
                    <footer class="flex gap-3 flex-col">
                        <h4 class="text-zinc-700 hover:text-zinc-900 text-wrap font-medium text-[1rem] leading-6">{courses}</h4>
                        <p class="text-zinc-600 text-wrap text-[0.9rem] leading-6">{educationDetail}</p>
    
                    </footer>
              
                </article>
                    
                
            </li>
        )})}
    </ul>

</Section>