---
import { basics } from '@cv';
import { Image } from 'astro:assets';
import Section from '@/components/Section.astro';
import Mail from '@/icons/Mail.astro';
import Phone from '@/icons/Phone.astro';
import Github from '@/icons/GitHub.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import X from '@/icons/X.astro';
import WorldMap from '@/icons/WorldMap.astro';

const { name, label, image, email, phone,  location, profiles } = basics;
const { countryCode } = location;
const SOCIAL_ICONS : Record<string, any> = {
    Github,
    LinkedIn, 
    X}
    const linkedin = profiles.find(({ network }) => network === 'LinkedIn');
    const linkedinUrl = linkedin?.url;
---



<Section>
    <div class="flex  gap-1 items-center justify-between">
        <div class="flex flex-col gap-2 px-3">
            <h1 class="text-3xl ">{name}</h1>
            <h2 class="text-2xl font-normal text-zinc-80000 text-balance">{label}</h2>
            <span class="flex items-center gap-1 text-zinc-700  "> <WorldMap/> {countryCode}</span>
            <div class="hidden print:block">{email} &bull; {phone} &bull; {linkedinUrl}</div>
            <footer class="flex flex-col gap-2 items-start p-2 mt-1 [&>a]:p-1 [&>a]:border [&>a]:border-zinc-700 [&>a]:rounded-md print:hidden">
                {
                        email && 
                    <div class="flex items-center gap-1">

                        <a class="bg-zinc-100 hover:scale-105 transition-all delay-100 hover:border-zinc-900  hover:bg-zinc-200" href={`mailto:${email}`} title={`Send a email to ${email}`} target="_blank"><Mail/> </a> <span>{email}</span>
                    </div>
                }
                {
                     phone && 
                    <div class="flex items-center gap-1">

                        <a class="bg-zinc-100 hover:scale-105 transition-all delay-100 hover:border-zinc-900  hover:bg-zinc-200" href={`tel:${phone}`} title={`Send a message to ${phone}`} target="_blank"><Phone/></a> <span>{phone} </span>
                    </div> 
                }
                <div class="flex gap-5 items-center print:hidden ml-1">

                    {profiles.map(({ network, url }) => {
                        const Icon = SOCIAL_ICONS[network];
                        return (
                            
                            
                            <a class="scale-150  bg-zinc-100 hover:scale-[1.75] transition-all delay-100 hover:border-zinc-900 hover:text-blue-700 " href={url} title={`${network} profile`} target="_blank"><Icon/></a>  
                            
                            
                        )
                    })}
                    </div>
            </footer>
        </div>
        <figure>
            <Image class="aspect-square object-cover rounded-md " src={image} alt={name} width={200} height={200} />
        </figure>
    </div>
</Section>